.close-button-modal {
  position: absolute;
  right: 10px;
  border: none;
  font-size: 30px;
  background: transparent;
  cursor: pointer;
  color: var(--primary-color);
}
.AddbookManually {
  position: relative;
  z-index: 1000;
  border-radius: 13px;
  background: #fcfcfc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
.h2modal {
  color: var(--primary-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 20px 0;
}
.form-modal-ISBN {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.pmodal {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.buttons-modal {
  display: flex;
  justify-content: space-between;
}
.isbn-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
.isbn-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-btn {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.input-ISBN {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 14px;
  padding: 5px 5px 5px 10px;
}

.label-ISBN {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 10px;
  padding: 0px;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 14px;
  padding: 5px 5px 5px 10px;
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 150px;
}
