.overlay {
  position: fixed;
  top: 11%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.close-button-modal {
  position: absolute;
  right: 10px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  border: none;
  font-size: 30px;
  background: transparent;
  cursor: pointer;
  color: var(--primary-color);
}
.Addbook {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  z-index: 1000;
  border-radius: 13px;
  background: #fcfcfc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 290px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h2modal {
  color: var(--primary-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
}
.pmodal {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0 20px;
}
.buttons-modal {
  display: flex;
  justify-content: space-between;
}
.button-modal-left {
  width: 142px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 0px 0px 0px 13px;
  background: var(--primary-color);
  color: #fcfcfc;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
.button-modal-right {
  width: 142px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 0px 0px 13px 0px;
  background: var(--primary-color);
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
