@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.Header {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-family: "Pacifico", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}
