/* Global container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
}

/* Welcome text */
.welcome-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}

/* Subtitle text */
.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Input fields */
.input-field {
  width: 100%;
  max-width: 300px;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 135px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.input-field:focus {
  border-color: var(--primary-color);
}

/* Login button */
.login-button {
  width: 70%;
  height: 45px;
  max-width: 300px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-button:hover {
  background-color: var(--primary-color);
}

/* Forgot password text */
.forgot-password {
  font-size: 14px;
  color: #666666;
  margin-top: 10px;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Divider line */
.divider {
  width: 100%;
  max-width: 300px;
  height: 1px;
  background-color: var(--background-color);
  margin: 20px 0;
}

/* Create account button */
.create-account-button {
  width: 70%;
  height: 45px;
  max-width: 300px;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 13px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Pacifico", cursive;
}

.create-account-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}
