.Mon_eleve {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 10px;
}
.QRCode_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: auto;
  overflow: hidden;
}
.QRCode_container img {
  width: 100%;
  height: 100%;
}
.name {
  font-size: 1em;
  font-weight: bold;
  margin: 0px 10px 0 10px;
}
.infos_livre {
  font-size: 0.9em;
  margin: 0px 10px 0 10px;
}
.Infos_eleve {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
}
.back_button,
.add_borrow_button {
  background-color: var(--primary-color);
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 13px;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;
}
.back_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.add_borrow_button {
  position: fixed;
  bottom: 80px;
  right: 20px;
}
