.Mon_livre {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 14px;
}
.infos_livre {
  margin: 0;
}
.bookCover_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 140px;
  overflow: hidden;
}
.bookCover_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titre {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
}
.auteur {
  font-size: 11px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-left: 10px;
}
.isbn {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
}
.resume {
  text-align: justify;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
}
.exemplaire {
  border-radius: 5px;
  background: #7efe8b;
  height: 25px;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.bookCover_container {
  position: relative;
}

.bookCover_image {
  width: 100%;
  height: auto;
}

.add_exemplaire_button {
  position: absolute;
  top: 105px;
  right: 05px;
  background-color: #7efe8b;
  color: black;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.AddExemplaireModal {
  position: relative;
  z-index: 1000;
  border-radius: 13px;
  background: #fcfcfc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form-exemplaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}
.quantity-setter-button {
  background: #7efe8b;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}
.span-quantity {
  font-size: 20px;
  font-weight: 700;
  margin: 0 10px;
  width: 30px;
}
.quantity-control {
  padding-bottom: 20px;
}
.button-add-exemplaire {
  width: 100%;
  height: 54px;
  flex-shrink: 0;
  border-radius: 0px 0px 13px 13px;
  background: var(--primary-color);
  color: #fcfcfc;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
.h2-detail {
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--primary-color);
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
