.Student {
  width: 95vw;
  height: 12vh;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.Infos_retour_livre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.Lastname_name {
  font-weight: bold;
}
.Lastname_name,
.Return_due_date {
  font-size: 0.85rem;
  margin-left: 10px;
  margin-right: 10px;
}

/* //////Affichage conditionnelle en fonction de la date de retour////// */
.StudentColor.green {
  background-color: var(--quaternary-color);
}

.StudentColor.orange {
  background-color: var(--tertiary-color);
}

.StudentColor.red {
  background-color: var(--secondary-color);
}
.BookColor.green {
  background-color: var(--quaternary-color);
}

.BookColor.orange {
  background-color: var(--tertiary-color);
}

.BookColor.red {
  background-color: var(--secondary-color);
}
